# PlatformIO
.pio/
.sconsign.dblite
.clangd
.cache/

# VS Code
.vscode/.browse.c_cpp*
.vscode/ipch/
.vscode/targets.log

# OS
.DS_Store
Thumbs.db

# Python (si usas scripts auxiliares)
__pycache__/
*.pyc

# Logs
*.log